@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.ins-customer-card-container {
  @include col;
  gap: 16px;
  position: relative;

  &__title {
    color: $primary;
    font-weight: 700;
    font-size: 16px;
  }

  &__item {
    @include flex;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;

    span {
      font-weight: 500;
      color: $medium-text;
    }
  }

  &__number {
    position: absolute;
    left: 0;
    top: 0;
    color: $primary;
    border: 1px solid $primary;
    @include flex;
    gap: 5px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 16px;

    span {
      color: $primary;
    }
  }
}
