@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.test {
  @include flex;
  justify-content: center;

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
