@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.bread-crumb {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: $shadow;
  padding: 16px;
  gap: 8px;
}

.bread-item {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;

    &.intermediate {
      color: $light-text;
    }

    &.final {
      color: $text;
    }
  }

  .arrow-icon {
    margin: 0 5px 0 0;
  }
}
