@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.orderDetails-container {
  @include col;
  gap: 32px;

  &__cards-container {
    width: 100%;
    &__top {
      @include flex;
      gap: 16px;
      width: 100%;

      &__left {
        width: 477px;
        &__customer {
          @include section;
          border: 1px solid $primary-very-light;
        }
      }

      &__right {
        @include col;
        gap: 16px;
        flex: 1;
        &__summary-card {
          @include section;
          border: 1px solid $primary-very-light;
        }

        &__info-card {
          @include section;
          border: 1px solid $primary-very-light;
        }
      }
    }

    &__items {
      @include section;
      @include col;
      border: 1px solid $primary-very-light;
      gap: 16px;

      &__title {
        font-size: 16px;
        font-weight: 700;
        color: $primary;
      }
    }
  }
}
