@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.ins-orders {
  @include col;
  gap: 32px;

  &__cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 42px;
  }

  &__table-container {
    @include section;
    @include col;
    gap: 24px;

    &__title {
      color: $text;
      font-size: 16px;
      font-weight: 700;
    }
    &__top {
      @include col;
      gap: 16px;
    }
  }
}
