@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.status-card-container {
  @include flex;
  @include section;
  height: 123px;

  &__img {
    width: 91px;
    height: 91px;
    flex-shrink: 0;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__txt {
    @include col;
    gap: 24px;
    width: 100%;
    &__top {
      @include col;
      width: 100%;
      gap: 8px;
      &__title {
        font-weight: 700;
        font-size: 14px;
      }

      &__content {
        font-weight: 700;
        font-size: 18px;
        color: $primary;
      }
    }

    &__comparison {
      align-self: flex-end;
      font-size: 12px;
      font-weight: 700;
      color: $medium-text;
      @include flex;
      gap: 8px;

      &--down {
        color: $red;
      }
      &--up {
        color: $green;
      }
    }
  }
}
