// Main Colors
$primary: #2c7bf3;
$primary-very-light: #bed6fb;
$primary-light: #72a7f7;
$primary-preMedium: #1f57ad;
$primary-medium: #5695F5;

$primary-10: #2c7bf31a; 
$primary-20: rgba(44, 123, 243, 0.2);

$secondary: #1f57ad;

$text: #131415;
$text-10: rgba(19, 20, 21, 0.1);
$medium-text: #929393;
$light-text: #b6b6b6;

$bg: #f7f7f8;
$card-bg: #e0e4e6;
$text-bg: #f4f4f4;
$sidebar-bg: #eaf2fe;
$white: #fff;
$light: #abadb1;
$shape: #cdced0;

// Shadow and Border
$shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
$card-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
$tbl: #929393;
$hover: rgba(44, 123, 243, 0.2); // based on new primary
$blue-bg: rgba(114, 167, 247, 0.1); // based on #72a7f7
$gray-border: rgba(19, 20, 21, 0.1); // based on new text

// Other
$pink: rgb(253, 79, 204); // no replacement provided, kept
$pink-medium: rgba(253, 79, 204, 0.8);
$pink-light: rgba(253, 79, 204, 0.1);
$red: #e82d1e;
$green: #4CAF50;
$red-10: rgba(232, 45, 30, 0.1);
$orange: #fb9013;
