// Main Colors
$primary: #2c7bf3;
$primary-light: #eaf2fe;
$primary-preMedium: #9ec2f9;
$primary-medium: rgba(44, 123, 243, 0.8);
$primary-dark: #1a56aa;

$text: #131415;
$medium-text: #131415cc;
$light-text: #1314154d;
$very-light-text: #1314151a;

$bg: #f7f7f8;
$text-bg: #f4f4f4;
$white: #fff;

// Shadow and Border
$shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
$card-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
$tbl: #a1c9ff;
$hover: rgba(19, 85, 119, 0.2);
$blue-bg: #2c7bf317;
$gray-border: rgba(19, 85, 119, 0.1);
$primary-light-border: #BED6FB;

// Other
$pink: rgb(253, 79, 204);
$pink-medium: rgba(253, 79, 204, 0.8);
$pink-light: rgba(253, 79, 204, 0.1);
$red: #f50d00;
$green: #4CAF50;
$orange: #fb9013;
