@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.ins-otp-modal-container {
  @include col;
  padding: 16px 0;
  align-items: center;
  gap: 24px;
  width: 201px;

  &__close-btn {
    position: absolute;
    right: -3px;
    top: -3px;
    height: 18px;
    width: 18px;
    transition: filter ease-out 200ms;

    &:hover {
      filter: brightness(90%);
    }
  }

  &__title {
    color: $light-text;
    text-align: center;
    width: 156px;
  }

  &__middle {
    @include col;
    gap: 16px;

    &__inputs-container {
      @include flex;
      gap: 16px;

      &__input {
        outline: $primary-very-light 1px solid;
        width: 28px;
        height: 24px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border-radius: 4px;
        transition: outline ease 200ms;

        &--active {
          outline-color: $primary;
        }
        &--wrong {
          outline-color: $red;
        }
      }
    }

    &__wrong-txt {
      color: $red;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &__timer {
      text-align: center;
    }
  }

  &__resend {
    font-size: 16px;
    font-weight: 400;
    color: #003566;
    transition: border ease-out 200ms;
    cursor: pointer;
    line-height: 100%;
    position: relative;
    @include col;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: transparent;
      bottom: -3px;
      transition: all ease-out 200ms;
    }
    &:hover::after {
      background-color: #003566bb;
      bottom: 0;
    }
  }

  &__button {
    width: 100%;
    background-color: $primary;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    color: $white;
    transition: background-color 200ms ease;
    &:hover {
      background-color: darken($color: $primary, $amount: 15%);
    }
  }
}
