@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.mcp-sidebar {
  max-width: 286px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $sidebar-bg;
  border-radius: 16px;
  @include section;

  @include col;
  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    border-bottom: 1px solid $primary;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 36px;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;
      padding-right: 17px;
      border-radius: 100px 8px 8px 100px;

      &__link {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 16px;
        font-size: 14px;
        transition: transform ease-in-out 200ms;

        &__text {
        transition: color ease-in-out 200ms;
          font-size: 14px;
          font-weight: 500;
          color: $medium-text;
        }
      }

      &:hover &__link {
        transform: translateX(-10px);
        &__text {
          color: $text;
        }
      }
    }

    &__itemSelected {
      background-color: $primary;
    }

    .mcp-sidebar__list__itemSelected .mcp-sidebar__list__item__link__text {
      color: $white;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
